<!DOCTYPE html>
	<html lang="en">
	<head>
	<meta charset="UTF-8">
	<title>Default</title>
	</head>
	<body>
    Assign variable here{{$wisdom := .}}
	<h1>
    
		Data to be passed in {{$wisdom}}
	</h1>
	</body>

	</html>
	